@font-face {
  font-family: 'Josefin Sans';
  src: url('/fonts/JosefinSans-Regular.woff2') format('woff2'),
       url('/fonts/JosefinSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('/fonts/JosefinSans-Bold.woff2') format('woff2'),
       url('/fonts/JosefinSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
